$body-bg:                 #201B21;

$white:                   #FFFFFF;
$orange:                  #FF2E00;

$screen-tablet:           'max-width: 960px';
$screen-mobile:           'max-width: 540px';