@import 'variables';

.about-us {
  position:  relative;
  display: flex;
  flex-direction: column;

  @media ($screen-tablet) {
    margin-bottom: 49px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @media ($screen-tablet) {
      margin-bottom: 22px;
    }
    @media ($screen-mobile) {
      margin-bottom: 8px;
    }
  }

  .masonry {
    position: relative;
    display: flex;
    margin-bottom: -33%;

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
      height: fit-content;
    }

    .fire1 {
      position: absolute;
      z-index: -1;
      left: -30%;
      bottom: -170px;

      @media ($screen-tablet) {
        display: none;
      }
    }
  }

  .masonry.mb-low {
    margin-bottom: -28%;
  }

  .masonry-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-bottom: 60px;

    &__image {
      display: flex;
      flex-direction: row-reverse;

      width: 100%;
    }

    &__text {
      width: 100%;
      height: fit-content;
      text-align: right;
    }
  }

  .masonry-fluid {
    position: relative;

    &__image {
      margin-bottom: 26px;
    }

    &__text {
      text-align: center;
    }

    .fire3 {
      position: absolute;
      z-index: -1;
      left: -14%;
      bottom: -30px;

      @media ($screen-tablet) {
        display: none;
      }
    }
  }

  @media ($screen-tablet) {
    .masonry, .masonry-right {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-bottom: 0;

      &__image {
        width: auto;
      }

      &__text {
        max-width: 530px;
        padding: 22px 0;
        text-align: center
      }

      @media ($screen-mobile) {
        img {
          max-height: 285px;
        }

        &__text {
          max-width: 230px;
        }
      }
    }

    .masonry-fluid {
      margin: auto;
      max-width: 530px;

      @media ($screen-mobile) {
        max-width: 230px;
      }
    }

    .masonry.mb-low {
      margin-bottom: 0;
    }
  }
}