@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: $body-bg;

  font-family: 'Montserrat', sans-serif;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5 {
  line-height: 74px;
}

h2, .h2 {
  font-family: 'gussi-custom';
  font-size: 80px;

  @media ($screen-tablet) {
    font-size: 36px;
    line-height: 33.3px;
  }

  @media ($screen-mobile) {
    font-size: 24px;
    line-height: 22.2px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;

  font-size: 20px;
  letter-spacing: 1.4px;
  color: $white;

  background-image: url(../assets/bg-first-page-fire.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: bottom;
  background-size: 777px 543px;
  
  @media ($screen-tablet) {
    font-size: 18px;
  }

  @media ($screen-mobile) {
    font-size: 9px;

    letter-spacing: 0.7px;

    background-position-y: 100%;
    background-size: 768px 540px;
  }
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;

  margin-right: auto;
  margin-left: auto;

  @media ($screen-tablet) {
    padding: 0 15px;
  }

  @media ($screen-mobile) {
    padding: 0 10px;
  }
}