@import 'variables';

.contacts {
  padding-top: 20px;
  padding-bottom: 230px;

  @media ($screen-tablet) {
    padding-bottom: 121px;
  }

  &__title {
    text-align: center;

    padding-bottom: 250px;

    @media ($screen-tablet) {
      padding-bottom: 147px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $white;
    height: 3px;
  }

  .social {
    position: relative;
    top: -25px;
    margin-left: 45px;
    
    &.vk {
      .social__name {
        padding-left: 45px;

        @media ($screen-tablet) {
          padding-left: 28px;
        }
    
        @media ($screen-mobile) {
          padding-left: 16px;
        }
      }
    }

    @media ($screen-tablet) {
      top: -18px;
    }

    @media ($screen-mobile) {
      top: -7px;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    img {
      margin-bottom: 18px;

      @media ($screen-tablet) {
        margin-bottom: 21px;
        width: 120px;
      }

      @media ($screen-mobile) {
        margin-bottom: 16px;
        width: 64px;
      }
    }

    &__name {
      padding-left: 15px;

      @media ($screen-tablet) {
        padding-left: 0px;
      }
    }
  }
}