@import 'variables';

.first-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  margin-bottom: 40px;

  @media ($screen-tablet) {
    margin-bottom: 22px;
  }

  @media ($screen-mobile) {
    margin-bottom: 8px;
  }

  background-image: url('../assets/bg-first-page-fire.png');
  background-size: cover;

  .main-image {
    display: flex;
    justify-content: center;

    margin-top: -13%;
  }

  &__subtitle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding-left: 20px;
    bottom: -15%;

    font-size: 13px;

    @media ($screen-mobile) {
      display: flex;
    }
  }
}