@import 'variables';

.first-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  position: relative;

  height: 100vh;
  margin-bottom: 40px;

  @media ($screen-tablet) {
    margin-bottom: 22px;
  }

  @media ($screen-mobile) {
    margin-bottom: 8px;
  }

  background-image: url('../assets/bg-first-page-fire.png');
  background-size: cover;

  .main-image {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -13%;
  }

  &__subtitle {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 20%;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    transform: translate(-45%, 0);

    font-size: 13px;

    @media ($screen-mobile) {
      display: flex;
    }
  }
}