@import 'variables';

.header {
  position: fixed;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 13px;
  z-index: 9;
  

  &.active {
    transition: all 1s;
    background: $body-bg;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    margin-bottom: 22px;
    
    font-family: 'gussi-custom';
    font-size: 25px;
    
    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $orange;
      }
    }
  }

  &__logo {
    width: 264px;
  }

  @media ($screen-tablet) {
    &__menu {
      font-size: 19px;
    }

    &__logo {
      width: 185px;
    }
  }

  @media ($screen-mobile) {
    padding-top: 10px;
    padding-bottom: 10px;

    &__menu {
      margin-bottom: 10px;

      .link {
        display: none;
      }
    }

    &__logo {
      width: 91px;
    }
  }
}