@import 'variables';

.music {
  background-image: url('../assets/bg-music-social.png');
  background-size: cover;
  background-position-y: center;
  height: 509px;
  padding-top: 80px;

  @media ($screen-tablet) {
    height: 206px;
    padding-top: 16px;
  }

  &__title {
    text-align: center;

    padding-bottom: 135px;

    @media ($screen-tablet) {
      padding-bottom: 52px;
    }

    @media ($screen-mobile) {
      padding-bottom: 70px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;

    @media ($screen-tablet) {
      max-width: 530px;
      margin: auto;
    }

    .social-box {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 35px;

      &:hover {
        .bg-icon {
          fill: $orange;
        }
      }

      @media ($screen-tablet) {
        svg {
          height: 43px;
          max-width: 120px;
        }
        margin-right: 0;
      }

      @media ($screen-mobile) {
        svg {
          height: 30px;
          max-width: 85px;
        }
        margin-right: 0;
      }

      &.small-box {
        svg {
          @media ($screen-tablet) {
            max-width: 77px;
          }
  
          @media ($screen-mobile) {
            max-width: 43px;
          }
        }
      }
    }

    @media ($screen-tablet) {
      justify-content: space-around;
    }
  }
}
