.video {
  padding-bottom: 75px;
  
  &__title {
    font-family: 'gussi-custom';
    font-size: 80px;
    text-align: center;

    padding-bottom: 50px;
  }

  &__frame {
    width: 100%;
    height: 700px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}